#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	box-sizing: border-box;
	width: 100%;
	max-width: 1200px;
	padding: 20px;
	display: grid;
	grid-template-columns: auto 2fr 3fr auto;
	grid-template-areas: 'left form list right';
	grid-gap: 2em;
}

header {
	width: 100%;
	height: 5vh;
	margin-bottom: 15px;
	text-align: center;
}

.bookForm {
	grid-area: form;
}

.bookList {
	grid-area: list;

	.item.selected {
		background: radial-gradient(#649afd59 0%, #fff 95%);
	}
}

@media screen and (max-width: 700px) {
	main {
		display: block;
	}
	.bookForm {
		margin-bottom: 15px;
	}
}
